.h1-img {
  font-size: 40px;
}

.h2-img {
  font-size: 15px;
}
nav ul {
  font-size: 16px;
  display: flex;
  align-items: center;
  padding-left: 5px;
}

nav li {
  flex-basis: calc(50% - 20px); 
}

nav a:hover {
  background-color: rgba(213, 151, 65, 0.3);
}

.product-grid {
  display: flex;
  flex-direction: column;
}

#section-coffee h2 {
  font-size: 23px;
}

#section-main-image {
  height: 70vh;
}

.container {
  width: 75%;
  text-align: center;
}

#section-coffee p {
  text-align: justify;
  font-size: 20px;
  font-weight: normal;
}

h3 {
  text-align: center;
  font-size: 24px;
}

.contact-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-control {
  text-align: right;
}

.contact-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
  text-align: left;
}

.contact-form {
  display: flex;
}

.button {
  text-align: center;
}
